# database connection string
DATABASE_URI_DEV=
DATABASE_URI_PRD=

# payload secret
PAYLOAD_SECRET=

# resend api key
RESEND_API_KEY=

# uploadthing storage
UPLOADTHING_SECRET=

# used to format links and urls
NEXT_PUBLIC_SERVER_URL_DEV=
NEXT_PUBLIC_SERVER_URL_PRD=